.login-nav{
    background-color: white!important;
    font-weight: bolder;
    color: black;
    border-radius: 3px;
}
.leader-board{
    font-weight: bolder;
    color: black;
}
.nav{
    background-color: rgb(125, 185, 235)!important;
}